<div id="space" class="space">
    hola
</div>
<div class="content">
    <div class="fondo">
        <div class="imagen"></div>
        <div class="negro"></div>
        <div class="descripcion">
            <h1>Consultar estado</h1>
        </div>
    </div>
    <div class="contenido">
        <div class="breadcrump">
            <a routerLink="..">Inicio</a>
            <p>></p>
            <p>Consultar estado</p>
        </div>
        <p>Ingrese el número del radicado de su PQRSD en la casilla y de click en el botón "Consultar" </p>
        <div class="formulario">
            <form>
                <mat-form-field appearance="outline">
                    <input matInput type="text" placeholder="Asunto del PQRSD">
                </mat-form-field>
            </form>
            <button>Consultar</button>
        </div>
        
    </div>
    <div style="height: 10vh;"></div>
</div>