<div id="space" class="space">
    hola
</div>
<div class="content">
    <div class="fondo">
        <div class="imagen"></div>
        <div class="negro"></div>
        <div class="descripcion">
            <h1>Gestion</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus cum sed tempora, doloribus ad a odio
                voluptate. Quibusdam ducimus nesciunt aspernatur, labore, quis omnis vitae necessitatibus quia, amet aut
                porro!</p>
        </div>
    </div>
    <div class="contenido">
        <div class="breadcrump">
            <a routerLink="..">Inicio</a>
            <p>></p>
            <p>Gestion</p>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque at velit dolores id odio pariatur praesentium
            nobis tenetur reiciendis soluta laborum porro blanditiis sapiente ipsam, fugiat aperiam amet ea maiores.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque aperiam hic rem. Ad, nisi possimus. Odio
            libero accusamus necessitatibus enim deserunt dolor rerum laborum? Quod molestiae laborum doloribus velit
            repellendus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat delectus a molestiae, eius
            harum natus, quas enim rerum quo eaque dolorum optio sapiente? Reiciendis officiis ipsa quibusdam tempora
            eaque sunt.
            <br>
            <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim consectetur alias, doloremque illo assumenda
            repellendus quidem. Nesciunt iste hic eveniet pariatur laudantium repellendus libero eius earum consequuntur
            harum, delectus quam?
        </p>
        <iframe width="100%" height="600" src="https://www.youtube.com/embed/FY1yKj0RkvE"
            title="Anciano de 96 años conmovió a juez tras ser acusado de exceso de velocidad" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="valores">
            <div class="mision">
                <h1>Our mission</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ducimus asperiores laudantium quas
                    culpa sed, at sint praesentium neque quidem numquam perspiciatis sunt amet optio commodi
                    voluptatibus quisquam quod ea.
                </p>
            </div>
            <div class="vision">
                <h1>Our vision</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem soluta nemo quae libero
                    suscipit quo beatae eligendi ipsa, incidunt sapiente quibusdam consequatur placeat debitis illum
                    saepe iste, dolore nulla id.
                </p>
            </div>
            
        </div>
        <hr style="height: 5px;">
    </div>
</div>