<div id="space" class="space">
    hola
</div>
<div class="content">
    <div class="fondo">
        <div class="imagen"></div>
        <div class="negro"></div>
        <div class="descripcion">
            <h1>Tramites</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus cum sed tempora, doloribus ad a odio
                voluptate. Quibusdam ducimus nesciunt aspernatur, labore, quis omnis vitae necessitatibus quia, amet aut
                porro!</p>
        </div>
    </div>
    <div class="contenido">
        <div class="breadcrump">
            <a routerLink="..">Inicio</a>
            <p>></p>
            <p>Tramites</p>
        </div>
        <div class="tramites">
            <div class="tramite" (click)="travel('https://funcionpublica.gov.co/VisorSUIT/index.jsf?FiI=51620')">
                <mat-icon class="icon" color="primary">article</mat-icon>
                Certificado de existencia y representación legal de las ligas y asociaciones deportivas
            </div>
            <div class="tramite" (click)="travel('https://funcionpublica.gov.co/VisorSUIT/index.jsf?FiI=51620')">
                <mat-icon class="icon" color="primary">block</mat-icon>
                Cancelación de la personería jurídica de ligas y clubes deportivos
            </div>
            <div class="tramite" (click)="travel('https://funcionpublica.gov.co/VisorSUIT/index.jsf?FiI=51620')">
                <mat-icon class="icon" color="primary">thumb_up</mat-icon>
                Aprobación de las reformas estatuarias de los organismos deportivos y/o recreativos vinculados al
                sistema nacional de deporte
            </div>
            <div class="tramite" (click)="travel('https://funcionpublica.gov.co/VisorSUIT/index.jsf?FiI=51620')">
                <mat-icon class="icon" color="primary">restart_alt</mat-icon>
                Renovación del reconocimiento deportivo a clubes deportivos, clubes promotores y clubes pertenecientes a
                entidades no deportivas
            </div>
            <div class="tramite" (click)="travel('https://funcionpublica.gov.co/VisorSUIT/index.jsf?FiI=51620')">
                <mat-icon class="icon" color="primary">military_tech</mat-icon>
                Reconocimiento de la personería jurídica de los organismos deportivos y recreativos vinculados al
                sistema nacional de deporte
            </div>
            <div class="tramite" (click)="travel('https://funcionpublica.gov.co/VisorSUIT/index.jsf?FiI=51620')">
                <mat-icon class="icon" color="primary">exit_to_app</mat-icon>
                Inscripción de dignatarios de los organismos deportivos y recreativos vinculados al sistema nacional de
                deporte
            </div>
            <div class="tramite" (click)="travel('https://funcionpublica.gov.co/VisorSUIT/index.jsf?FiI=51620')">
                <mat-icon class="icon" color="primary">sports_soccer</mat-icon>
                Reconocimiento deportivo a clubes deportivos, clubes promotores y clubes pertenecientes a entidades no deportivas
            </div>
        </div>
    </div>
</div>